<div id="wrapper">
  <header>
    <div class="inner-header container">

      <a href="#" class="logo">EcoIt</a>
        <ul id="main-menu">
          <li><a href="">Trang Chủ</a></li>
          <li>
            <a href="#">Sản Phẩm</a>
            <ul class="subnav">
              <li><a href="#">Khối khách hàng chính phủ</a></li>
              <li><a href="#">khối khách hàng tài chính ngân hàng</a></li>
              <li><a href="#">khối khách hàng an ninh -quốc phòng</a></li>
              <li><a href="#">khối khách hàng doanh nghiệp</a></li>
            </ul></li>

          <li><a href="#">Giới Thiệu</a>
            <ul class="subnav">
              <li><a href="#">về chúng tôi</a></li>
              <li><a href="#">hồ sơ năng lực</a></li>
              <li><a href="#">khách hàng tiêu biểu</a></li>
            </ul></li>
          <li><a  routerLink="news" href="#">Tin Tức</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
    </div>
  </header>
</div>
