<div class="container-fluid" style="padding-top: 80px">
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <mat-card>
        <!--        form css bên css của views-->
        <div id="hey">
          <form class="form-inline my-2 my-lg-0" (ngSubmit)="seachNews()" >
            <button  class="btn-outline-success" type="button" name="add" (click)="addNews()" > <mat-icon>dashboard_customize</mat-icon></button>
            <input class="form-control mr-sm-9" type="text" placeholder="Search News" [(ngModel)]="name" name="name"  >
            <button class="btn-outline-success" type="submit"><mat-icon>find_in_page</mat-icon></button>
          </form>
        </div>

        <mat-card-content>
          <div class="bootstrap-wrapper">
            <div class="container">
              <div class="container text-center">
                <h1 class="mt20" style="margin-right: 350px"  >Bảng Quản Lý Tin Tức</h1>
              </div>
              <div class="row">
                <div class="col-md-8 offset-md-1">
                  <!--                  sử dụng datasouce để lấy dữ liệu của bảng áp dụng với phân trang angular-->
                  <table mat-table [dataSource]="dataSource">

                    <!-- Số Thứ Tự Column -->
                    <ng-container matColumnDef="id">
                      <!--                      tiêu đề và nội dụng theo phân trang angular-->
                      <th mat-header-cell *matHeaderCellDef style="padding-right: 20px"> Số Thứ Tự</th>
                      <td mat-cell *matCellDef="let element;let i =index"> {{i + 1}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                      <!--                      tiêu đề và nội dụng theo phân trang angular-->
                      <th mat-header-cell *matHeaderCellDef > Tiêu Đề</th>
                      <td mat-cell *matCellDef="let element" style="padding-right: 20px"> {{element.title}} </td>
                    </ng-container>

                    <!-- Hình Ảnh Column -->
                    <ng-container matColumnDef="img">
                      <!--                      tiêu đề và nội dụng theo phân trang angular-->
                      <th mat-header-cell *matHeaderCellDef> Hình Ảnh</th>
                      <td mat-cell *matCellDef="let element" style="padding-right: 20px"><img width="100px" height="80px" src="{{element.img}}" ></td>
                    </ng-container>

                    <!-- Price Column -->
                    <ng-container matColumnDef="price">
                      <!--                      tiêu đề và nội dụng theo phân trang angular-->
                      <th mat-header-cell *matHeaderCellDef style="padding-right: 20px"> Đường dẫn tin</th>
                      <td mat-cell *matCellDef="let element"> {{element.url}} </td>
                    </ng-container>
                    <!-- Npp Column -->
                    <ng-container matColumnDef="npp">
                      <!--                      tiêu đề và nội dụng theo phân trang angular-->
                      <th mat-header-cell *matHeaderCellDef style="padding-right: 20px"> Khái Quát Tin Tức</th>
                      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                    </ng-container>
                    <!-- Edit Column -->
                    <ng-container matColumnDef="edit">
                      <!--                      tiêu đề và nội dụng theo phân trang angular-->
                      <th mat-header-cell *matHeaderCellDef style="padding-right: 20px"> Chỉnh Sửa</th>
                      <td mat-cell *matCellDef="let element">
                        <i (click)="editNews(element.id)">
                          <mat-icon class="btn-outline-dark">edit_note</mat-icon>
                        </i>
                      </td>
                    </ng-container>
                    <!-- Remove Column -->
                    <ng-container matColumnDef="remove">
                      <th mat-header-cell *matHeaderCellDef> Xoá</th>
                      <td mat-cell *matCellDef="let element">
                        <!--                        <button (click)="openConfirm(element.id)">-->
                        <!--&lt;!&ndash;                          css btn outline chú ý &ndash;&gt;-->
                        <!--                        </button>-->
                        <i type="button"  data-toggle="modal" data-target="#exampleModal" (click)="getIdNews(element.id)">
                          <mat-icon class="btn-outline-danger">delete_sweep</mat-icon>
                        </i>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h2 class="modal-title" id="exampleModalLabel" f>Thông Báo</h2>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body" style="font-size: 24px">
                                You are sure?
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" style="font-size: 20px">Close</button>
                                <button type="button" class="btn btn-primary" (click)="deleteNews()" style="font-size: 20px; background: red">Delete</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </td>
                    </ng-container>
                    <!--                    đoạn này là phân trang bên html -->
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>

                  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                                 showFirstLastButtons
                                 aria-label="Select page of periodic elements">
                  </mat-paginator>
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions class="text-center">
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
