<app-navbar></app-navbar>
<router-outlet></router-outlet>
<!--<div class="super-container">-->
<!--  <div class="container">-->
<!--    <div class="title">-->
<!--      <h2>Danh Sách Khách Hàng</h2>-->
<!--    </div>-->
<!--    <div class="boxdad">-->
<!--      &lt;!&ndash;    Khách hàng chính phủ&ndash;&gt;-->
<!--      <div class=" box1">-->
<!--        <div class="img"><span class="color"><i class="fas fa-university"></i></span></div>-->
<!--        <div class="derac">-->
<!--        <div class="box1__title">Khách Hàng Chính Phủ</div>-->
<!--        <div class="box1__content">Bao gồm các Bộ, Ban, Ngành và các cơ quan nhà nước khác</div>-->
<!--        <div class="box1__note">Quan tâm</div>-->
<!--        </div>-->
<!--      </div>-->
<!--      &lt;!&ndash;KHÁCH HÀNG DOANH NGHIỆP&ndash;&gt;-->
<!--      <div class=" box1">-->
<!--        <div class="img"><span class="color" style="background: #6610f2 "><i class="fab fa-slideshare"></i></span></div>-->
<!--        <div class="box1__title">Khách hàng doanh nghiệp</div>-->
<!--        <div class="box1__content">Bao gồm các tập đoàn, doanh nghiệp lớn trong và ngoài nước</div>-->
<!--        <div class="box1__note">Quan tâm</div>-->
<!--      </div>-->
<!--      &lt;!&ndash;KHÁCH HÀNG TÀI CHÍNH -NGÂN HÀNG&ndash;&gt;-->
<!--      <div class=" box1">-->
<!--        <div class="img"><span class="color"><i class="fas fa-dollar-sign"></i></span></div>-->
<!--        <div class="box1__title">Khách Hàng Tài Chính  Ngân Hàng</div>-->
<!--        <div class="box1__content">Bao gồm các ngân hàng, công ty tài chính</div>-->
<!--        <div class="box1__note">Quan tâm</div>-->
<!--      </div>-->
<!--      &lt;!&ndash;KHÁCH HÀNG AN NINH QUỐC PHÒNG&ndash;&gt;-->
<!--      <div class=" box1">-->
<!--        <div class="img"><span class="color" style="background: #fd7214"><i class="fas fa-shield-alt"-->
<!--                                                                            style="padding-top: 23px"></i></span></div>-->
<!--        <div class="box1__title">Khách Hàng An Ninh Quốc Phòng</div>-->
<!--        <div class="box1__content">Bao gồm các cơ quan, đơn vị thuộc Bộ Công An và Bộ Quốc Phòng</div>-->
<!--        <div class="box1__note">Quan tâm</div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="container">-->
<!--    <h2 style="padding-left: 450px"> Giới Thiệu</h2>-->
<!--    <div class="row ">-->
<!--      <div class="col">-->
<!--      <div class="col-lg-6 ">-->
<!--          <p style="font-size: 18px">Công ty Cổ phần EcoIT được đăng ký thành lập ngày-->
<!--            29/4/2010 là một Công ty tin học chuyên cung-->
<!--            cấp phần mềm, dịch vụ, hệ thống và các giải pháp về Công nghệ thông tin được sáng lập và lãnh đạo bởi-->
<!--            các chuyên gia quản lý, chuyên gia công nghệ có kinh nghiệm lâu năm trong lĩnh vực Công nghệ thông tin-->
<!--            có-->
<!--            cùng ý tưởng đến từ nhiều tổ chức, doanh nghiệp trong các lĩnh vực khác nhau.-->
<!--          </p>-->
<!--        <button style="background: #50B848; color: white" >Tìm Hiểu Thêm</button>-->
<!--        </div>-->
<!--      <div class="col-lg-6 ">-->
<!--        <div class="blog_item">-->
<!--          <div class="blog_background" >-->
<!--            <iframe width="450" height="200" src="https://www.youtube.com/embed/cG-zYVv4fVw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="container">-->
<!--    <h2 style="padding-bottom: 20px"> Sản Phẩm Chiến Lược</h2>-->
<!--    <div class="spcl">-->
<!--      <div class="sp"><img src="assets/l1.png" alt="" class="imgsp">-->
<!--        <div class="content">-->
<!--          <div class="title"><h3>EcoECM</h3></div>-->
<!--          <div class="dela"><p>Phần mềm quản lý tài liệu</p></div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="spcl">-->
<!--      <div class="sp"><img src="assets/l2.png" alt="" class="imgsp">-->
<!--        <div class="content">-->
<!--          <div class="title"><h3>EcoECM</h3></div>-->
<!--          <div class="dela"><p>Phần mềm nhận dạng bóc tách tiếng việt</p></div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="spcl">-->
<!--      <div class="sp"><img src="assets/l3.png" alt="" class="imgsp">-->
<!--        <div class="content">-->
<!--          <div class="title"><h3>EcoPORTAL</h3></div>-->
<!--          <div class="dela"><p>Hệ thống cổng thông tin điện tử</p></div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="spcl">-->
<!--      <div class="sp"><img src="assets/l4.png" alt="" class="imgsp">-->
<!--        <div class="content">-->
<!--          <div class="title"><h3>EcoGOV</h3></div>-->
<!--          <div class="dela"><p>Phần mềm quản lý dịch vụ công trưc tuyến</p></div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="spcl">-->
<!--      <div class="sp"><img src="assets/l5.png" alt="" class="imgsp">-->
<!--        <div class="content">-->
<!--          <div class="title"><h3>EcoMAIL</h3></div>-->
<!--          <div class="dela"><p>Hệ thống thư điện tử dung lượng lớn</p></div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="spcl">-->
<!--      <div class="sp"><img src="assets/l6.png" alt="" class="imgsp">-->
<!--        <div class="content">-->
<!--          <div class="title"><h3>ESB</h3></div>-->
<!--          <div class="dela"><p>Giải pháp trục tích hợp</p></div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="spcl">-->
<!--      <div class="sp"><img src="assets/l1.png" alt="" class="imgsp">-->
<!--        <div class="content">-->
<!--          <div class="title"><h3>NESTOR</h3></div>-->
<!--          <div class="dela"><p>Phần mềm quản lý tài liệu</p></div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="container" >-->
<!--    <h2> Hình Ảnh Hoạt Động</h2>-->
<!--    <div class="slider" style="background: #f4f4f4; height: 560px">-->
<!--      <div class="slider-img" >-->
<!--        <input type="radio" name="slider" id="slider1" checked>-->
<!--        <input type="radio" name="slider" id="slider2">-->
<!--        <input type="radio" name="slider" id="slider3">-->

<!--        <img src="assets/m2.jpeg" alt="" class="a1">-->
<!--        <img src="assets/m4.jpeg" alt="" class="a2">-->
<!--        <img src="assets/m3.jpeg" alt=""class="a3">-->
<!--      </div>-->
<!--      <div class="labler">-->
<!--        <label for="slider1" ></label>-->
<!--        <label for="slider2" ></label>-->
<!--        <label for="slider3" ></label>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="container">-->
<!--    <h2> Khách Hàng Tiêu Biểu</h2>-->
<!--    <div class="spcl" style="padding-top: 20px">-->
<!--      <div class="spcll"><img src="assets/k1.jpeg" alt="" class="imgsp">-->
<!--      </div>-->
<!--      <div class="spcll"><img src="assets/k6.jpeg" alt="" class="imgsp">-->
<!--      </div>-->
<!--      <div class="spcll"><img src="assets/k3.jpeg" alt="" class="imgsp">-->
<!--      </div>-->
<!--      <div class="spcll"><img src="assets/k4.jpeg" alt="" class="imgsp">-->
<!--      </div>-->
<!--      <div class="spcll"><img src="assets/k5.jpeg" alt="" class="imgsp">-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--<app-footer></app-footer>-->
